.allergic-block{
    line-height: 1;
}
.allergic-bg {
    background: url('../images/bg-allergic.jpg');
}
.allergic-proc{
    width: 460px;
    margin: 0 auto;
}
.allergic-block .allergic-bg .forms{
    margin-bottom: 0;
}
.allergic-block .allergic-bg .forms div.wpcf7-response-output {
    position: relative;
}
.label-allergic{
    background: rgba(0,0,0,0.8);
    width: 100%;
    float: left;
    padding: 26px 0 26px 16px;
    color: #fff;
    font-family: "BebasNeueBold";
    margin: 44px 0 180px 0;
}
.label-allergic h1{
    text-align: right !important;
    font-size: 55px;
    font-family: "Segoe UI";
    margin: 15px 0 !important;
    line-height: 1;
    color: #fff;
}
.label-allergic .top-text{
    font-size: 42px;
    font-family: "BebasNeueBold";
    line-height: 1;
}
.label-allergic .bottom-text{
    font-family: "Segoe UI";
    color: #f6f6f6;
    font-size: 21px;
}
.allergic-block .about-clever{
    background-color: #ff5722;
    padding: 40px 0 43px ;
}
.allergic-block .about-clever .text-block {
    border: 2px solid white;
    padding: 19px 17px;
    font-weight: 700;
}

.allergic-block .about-clever .title{
    color: white;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 21px;
    font-family: "Segoe UI";
    font-weight: 700;
}
.allergic-block .about-clever .slogan{
    font-size: 18px;
    font-family: "Segoe UI";
    font-style: italic;
    color: #fff;
}
.allergic-block .about-clever  p{
    color: #fff;
    font-family: "Segoe UI";
}
.allergic-block .ipad-form .ipad-bg{
    background: url('../images/bg-ipad.jpg') 61% 0 no-repeat;
    padding: 250px 0 370px;
}
.allergic-block .ipad-form .bg-ipad .allergic-proc{
    margin: 0 auto;
}
.allergic-block .what-we-offer .text{
    margin: 0 auto;
    width: 400px;
}
.allergic-block .ipad-form .bg-ipad .forms{
    margin: 90px 0 0 0;
}
.allergic-block .important-factors-niche {
    background-color: whitesmoke;
    padding: 65px 0 80px ;
    margin-bottom: 295px;
}
.allergic-block .important-factors-niche .title{
    color: #212121;
    font-size: 48px;
    margin-bottom: 72px;
    font-family: "Segoe UI Bold";
}
.allergic-block .important-factors-niche .item{
    color: #212121;
    font-size: 14px;
    padding: 20px 40px;
    margin-bottom: 22px;
    min-height: 150px;
}
.allergic-block .important-factors-niche .item.blue{
    background-color: #e8eaf6;
}
.allergic-block .important-factors-niche .item.green{
    background-color: #e8f5e9;
}
.allergic-block .important-factors-niche .item.turquoise{
    background-color: #e1f5fe;
}
.allergic-block .important-factors-niche .item.yellow{
    background-color: #f9fbe7;
}
.allergic-block .important-factors-niche .item.pink{
    background-color: #ffebee;
}
.allergic-block .important-factors-niche .item.grey{
    background-color: #efebe9;
}
.allergic-block .why-us{
    margin-bottom: 192px;
    font-size: 30px;
}
.allergic-block .why-us .title-block{
    color: #ff3d00;
    font-family: "Segoe UI Bold";
    font-size: 166px;
    margin-bottom: 305px;
}
.allergic-block .why-us .text-block p{
    margin-bottom: 30px;
}
.allergic-block .bottom-form{
    background: #fff;
}
.fixed {
    top: 100px !important;
}
@media (max-width:1199px){
    .allergic-block .label-allergic{
        margin-bottom: 100px;
    }
}
@media (max-width: 991px){
    .allergic-block .ipad-form .ipad-bg{
        background-position: 20% 0 ;
        padding-bottom: 350px;
    }
    .allergic-block .important-factors-niche{
        margin-bottom: 150px;
    }
    .allergic-block .why-us .title-block{
        margin-bottom: 200px;
        font-size: 120px;
    }
    .allergic-block .why-us{
        margin-bottom: 100px;
    }
    .label-allergic h1{
        color: #fff !important;
        font-size: 50px !important;
    }
}
@media (max-width: 767px){
    .allergic-proc{
        width: 100%;
        padding: 0 20px;
    }
    .allergic-block .about-clever .title{
        font-size: 55px;
    }
    .allergic-block .what-we-offer .text{
        width: auto;
    }
    .allergic-block .ipad-form .ipad-bg{
        background-position: center;
    }
    .allergic-block .important-factors-niche{
        margin-bottom: 100px;
    }
    .allergic-block .why-us .title-block{
        font-size: 65px  ;
        margin-bottom: 70px;
    }
}