
.custom-marketplace-top {
    padding-top:25px;
    padding-bottom: 55px;
}
.custom-marketplace-top .monitor{
    text-align: center;
}
.custom-marketplace-top .monitor .title {
    color: #212121;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-style: normal;
    padding-bottom:30px;
}
.custom-marketplace-top .form-landing {
    margin-top:35px;
}
.custom-marketplace-top .control {
    padding-top:35px;
}
.custom-marketplace-top .desc {
    padding-top:100px;
}
.custom-marketplace-top .desc .title {
    color: #212121;
    font-family: 'BebasNeueBold';
    font-size: 24px;
    text-transform: uppercase;
    border-bottom:1px solid #212121;
    padding-bottom:10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.custom-marketplace-top .desc .txt {
    color: #212121;
    font-size: 14px;
    padding-top:20px;
}
.custom-marketplace-inform {
    background: #007aff;
    padding:50px 0;
}
.custom-marketplace-inform-box {
    border-right: 1px solid #fff;
    padding:35px 0;
    text-align: center;
}
.custom-marketplace-inform-box:last-child {
    border:none;
}
.custom-marketplace-inform-box span {
    font-size: 22px;
    color: #fff;
    width: 90%;
    display: block;
    padding-left: 10%;
    line-height:28px;
}
.form-landing {
    padding: 20px 0;
    background: #fff;
}
.form-landing .forms {
    margin:0;
}
.form-landing input {
    height:32px;
    background: transparent;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #007aff;
    border-top: none;
    font-style: normal;
    font-size: 17px;
    padding-left: 10px;
    font-weight: 300;
    color: #000;
    border-radius: inherit;
}
.form-landing .button_m {
    width: 170px;
    height: 56px;
    box-shadow: 0 0 9px rgba(90, 200, 250, 0.48);
    border: 1px solid #007aff;
    background-color: #007aff;
    border-radius: 28px;
    font-size: 17px;
    margin-top:30px;
}
.custom-marketplace-online {

}
.custom-marketplace-online .title {
    color: #000000;
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'BebasNeueBold';
    text-align: center;
    letter-spacing: -1px;
}
.custom-marketplace-online .more {
    text-align: center;
    color: #000000;
    font-family: "Segoe UI Black";
    font-size: 50px;
    display: block;
    padding-top:80px;
    padding-bottom: 105px;
}
.custom-marketplace-benefits {
    background: #007aff;
    color: #fff;
    padding-top:50px;
}
.custom-marketplace-benefits .title {
    border-bottom:1px solid #fff;
    padding-bottom:10px;
    width: 49%;
    margin: 0 auto 35px;
    text-align: center;
    font-family: 'BebasNeueBold';
    font-size:24px;
}
.custom-marketplace-benefits ul {
    margin:0;
    padding: 0 110px;
}
.custom-marketplace-benefits li {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Segoe UI Bold";
    padding-bottom:80px;
    list-style: none;
    text-align: center;
}
.custom-marketplace-steps {
    background-color: #efefef;
    padding-top:75px;
    padding-bottom:60px;
}
.custom-marketplace-steps ul {
    padding-left:18%;
}
.custom-marketplace-steps li {
    list-style: none;
    color: #000000;
    font-size: 24px;
    font-family: "Segoe UI Bold";
    padding-bottom:25px;
}
.custom-marketplace-steps .title {
    border-bottom:1px solid #212121;
    padding-bottom:10px;
    width: 49%;
    margin: 0 auto 20px;
    text-align: center;
    color: #212121;
    font-family: 'BebasNeueBold';
    font-size:24px;
}
.custom-marketplace-bottom {
    padding-top:80px;
    padding-bottom:125px;
}
.custom-marketplace-bottom .logo {
    text-align: center;
    display: block;
    margin:0 auto;
}
.custom-marketplace-bottom .title {
    text-align: center;
    color: #252525;
    font-family: 'BebasNeueRegular';
    font-size: 80px;
    padding-top:60px;
    padding-bottom: 85px;
}
.custom-marketplace-bottom .txt {
    text-align: center;
    display: block;
    color: #252525;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Segoe UI Bold";
    line-height:26px;
}
.custom-marketplace-bottom .more {
    text-align: center;
    color: #212121;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'BebasNeueBold';
    padding-top:75px;
}
.custom-marketplace-bottom .get {
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 370px;
    text-align: center;
    color: #212121;
    font-family: 'BebasNeueBold';
    padding: 17px 35px;
    margin: 95px auto 80px;
    font-size: 36px;
    line-height:42px;
}
.custom-marketplace .steps {
    background-color: #ffecb3;
    /*background-image: url('../images/landing-pages/custom-marketplace/steps.png');*/
    background-repeat:no-repeat;
    text-align: center;
    padding-top:60px;
    padding-bottom:35px;
}
.custom-marketplace .steps .title {
    color: #000000;
    font-size: 47px;
    font-family: "SegoePrintRegular";
}

.form-landing  input::-webkit-input-placeholder {color:#000;}
.form-landing  input::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.form-landing  input:-moz-placeholder           {color:#000;}/* Firefox 18- */
.form-landing  input:-ms-input-placeholder      {color:#000;}

@media (max-width: 991px) {
    .custom-marketplace-benefits ul {
        padding:0;
    }
    .custom-marketplace-bottom .txt {
        padding-bottom:40px;
    }
}
@media (max-width: 767px) {
    .custom-marketplace-top .monitor .title {
        font-size:13px;
    }
    .custom-marketplace-inform-box {
        padding:20px 0;
        border: none;
    }
    .custom-marketplace .support {
        height:100px;
    }
    .custom-marketplace .support img {
        height:100%;
        width:100%;
    }
    .custom-marketplace-online .title {
        font-size:25px;
        padding-top: 35px;
    }
    .custom-marketplace-online .more {
        font-size:25px;
        padding: 45px 0;
    }
    .form-landing {
        padding: 20px 0 90px;
    }
    .custom-marketplace-top .desc {
        padding-top:0;
    }
    .custom-marketplace-top .desc .title, .custom-marketplace-benefits .title, .custom-marketplace-steps .title {
        width:100%;
    }
    .nopadding-mob {
        padding:0;
        padding:0;
    }
    .custom-marketplace-benefits li {
        font-size:18px;
        padding-bottom: 60px;
    }
    .custom-marketplace .steps .title {
        font-size:15px;
        padding-top: 20px;
    }
    .custom-marketplace-steps li {
        font-size:18px;
    }
    .custom-marketplace-steps ul {
        padding-left:0;
    }
    .custom-marketplace-steps {
        padding:30px 0 0;
    }
    .custom-marketplace-bottom .title {
        font-size:43px;
    }
    .custom-marketplace-bottom .txt {
        font-size:18px;
    }
    .custom-marketplace-bottom {
        padding-top:50px;
    }
    .custom-marketplace-bottom .title {
        padding-bottom:30px;
    }
    .custom-marketplace-bottom .txt {
        padding-bottom:30px;
    }
    .custom-marketplace-bottom .get {
        width:100%;
        padding: 17px 5px;
        margin:50px auto;
    }
    .custom-marketplace-bottom {
        padding-bottom:0;
    }

}