/* line 13, scss/grid.scss */
.g,
.g--rev {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

/* line 25, scss/grid.scss */
.g {
  direction: ltr;
}

/* line 28, scss/grid.scss */
.g--rev {
  direction: rtl;
}

/* line 32, scss/grid.scss */
.g.w720,
.g--rev.w720 {
  max-width: 720px;
}

/* line 36, scss/grid.scss */
.g.w960,
.g--rev.w960 {
  max-width: 960px;
}

/* line 40, scss/grid.scss */
.g.w1140,
.g--rev.w1140 {
  max-width: 1140px;
}

/* line 46, scss/grid.scss */
.c,
.cc,
.c-c {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 10px;
}

/* line 57, scss/grid.scss */
.cc {
  padding: 0;
}

/* line 60, scss/grid.scss */
.c-c {
  padding: 0 20px;
}

/* line 68, scss/grid.scss */
.lt-ie9 .c,
.lt-ie9 .cc,
.no-js .c,
.no-js .cc,
.no-js .c-c {
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 86, scss/grid.scss */
.lt-ie9 .g.w1140,
.lt-ie9 .g.w720,
.lt-ie9 .g.w960,
.no-js .g.w1140,
.no-js .g.w960,
.no-js .g.w720,
.lt-ie9 .g--rev.w1140,
.lt-ie9 .g--rev.w720,
.lt-ie9 .g--rev.w960,
.no-js .g--rev.w1140,
.no-js .g--rev.w960,
.no-js .g--rev.w720 {
  width: 100% !important;
  max-width: 100% !important;
}

/* line 35, scss/_calc.scss */
.x1d2, .x2d4, .x3d6, .x4d8, .x5d10, .x6d12, .x7d14, .x9d18 {
  width: 50%;
}

/* line 35, scss/_calc.scss */
.x1d3, .x2d6, .x3d9, .x4d12, .x6d18 {
  width: 33.33333%;
}

/* line 35, scss/_calc.scss */
.x2d3, .x4d6, .x6d9, .x8d12, .x12d18 {
  width: 66.66667%;
}

/* line 35, scss/_calc.scss */
.x1d4, .x2d8, .x3d12 {
  width: 25%;
}

/* line 35, scss/_calc.scss */
.x3d4, .x6d8, .x9d12 {
  width: 75%;
}

/* line 35, scss/_calc.scss */
.x1d5, .x2d10 {
  width: 20%;
}

/* line 35, scss/_calc.scss */
.x2d5, .x4d10 {
  width: 40%;
}

/* line 35, scss/_calc.scss */
.x3d5, .x6d10 {
  width: 60%;
}

/* line 35, scss/_calc.scss */
.x4d5, .x8d10 {
  width: 80%;
}

/* line 35, scss/_calc.scss */
.x1d6, .x2d12, .x3d18 {
  width: 16.66667%;
}

/* line 35, scss/_calc.scss */
.x5d6, .x10d12, .x15d18 {
  width: 83.33333%;
}

/* line 35, scss/_calc.scss */
.x1d7, .x2d14 {
  width: 14.28571%;
}

/* line 35, scss/_calc.scss */
.x2d7, .x4d14 {
  width: 28.57143%;
}

/* line 35, scss/_calc.scss */
.x3d7, .x6d14 {
  width: 42.85714%;
}

/* line 35, scss/_calc.scss */
.x4d7, .x8d14 {
  width: 57.14286%;
}

/* line 35, scss/_calc.scss */
.x5d7, .x10d14 {
  width: 71.42857%;
}

/* line 35, scss/_calc.scss */
.x6d7, .x12d14 {
  width: 85.71429%;
}

/* line 35, scss/_calc.scss */
.x1d8 {
  width: 12.5%;
}

/* line 35, scss/_calc.scss */
.x3d8 {
  width: 37.5%;
}

/* line 35, scss/_calc.scss */
.x5d8 {
  width: 62.5%;
}

/* line 35, scss/_calc.scss */
.x7d8 {
  width: 87.5%;
}

/* line 35, scss/_calc.scss */
.x1d9, .x2d18 {
  width: 11.11111%;
}

/* line 35, scss/_calc.scss */
.x2d9, .x4d18 {
  width: 22.22222%;
}

/* line 35, scss/_calc.scss */
.x4d9, .x8d18 {
  width: 44.44444%;
}

/* line 35, scss/_calc.scss */
.x5d9, .x10d18 {
  width: 55.55556%;
}

/* line 35, scss/_calc.scss */
.x7d9, .x14d18 {
  width: 77.77778%;
}

/* line 35, scss/_calc.scss */
.x8d9, .x16d18 {
  width: 88.88889%;
}

/* line 35, scss/_calc.scss */
.x1d10 {
  width: 10%;
}

/* line 35, scss/_calc.scss */
.x3d10 {
  width: 30%;
}

/* line 35, scss/_calc.scss */
.x7d10 {
  width: 70%;
}

/* line 35, scss/_calc.scss */
.x9d10 {
  width: 90%;
}

/* line 35, scss/_calc.scss */
.x1d11 {
  width: 9.09091%;
}

/* line 35, scss/_calc.scss */
.x2d11 {
  width: 18.18182%;
}

/* line 35, scss/_calc.scss */
.x3d11 {
  width: 27.27273%;
}

/* line 35, scss/_calc.scss */
.x4d11 {
  width: 36.36364%;
}

/* line 35, scss/_calc.scss */
.x5d11 {
  width: 45.45455%;
}

/* line 35, scss/_calc.scss */
.x6d11 {
  width: 54.54545%;
}

/* line 35, scss/_calc.scss */
.x7d11 {
  width: 63.63636%;
}

/* line 35, scss/_calc.scss */
.x8d11 {
  width: 72.72727%;
}

/* line 35, scss/_calc.scss */
.x9d11 {
  width: 81.81818%;
}

/* line 35, scss/_calc.scss */
.x10d11 {
  width: 90.90909%;
}

/* line 35, scss/_calc.scss */
.x1d12 {
  width: 8.33333%;
}

/* line 35, scss/_calc.scss */
.x5d12 {
  width: 41.66667%;
}

/* line 35, scss/_calc.scss */
.x7d12 {
  width: 58.33333%;
}

/* line 35, scss/_calc.scss */
.x11d12 {
  width: 91.66667%;
}

/* line 35, scss/_calc.scss */
.x1d14 {
  width: 7.14286%;
}

/* line 35, scss/_calc.scss */
.x3d14 {
  width: 21.42857%;
}

/* line 35, scss/_calc.scss */
.x5d14 {
  width: 35.71429%;
}

/* line 35, scss/_calc.scss */
.x9d14 {
  width: 64.28571%;
}

/* line 35, scss/_calc.scss */
.x11d14 {
  width: 78.57143%;
}

/* line 35, scss/_calc.scss */
.x13d14 {
  width: 92.85714%;
}

/* line 35, scss/_calc.scss */
.x1d18 {
  width: 5.55556%;
}

/* line 35, scss/_calc.scss */
.x5d18 {
  width: 27.77778%;
}

/* line 35, scss/_calc.scss */
.x7d18 {
  width: 38.88889%;
}

/* line 35, scss/_calc.scss */
.x11d18 {
  width: 61.11111%;
}

/* line 35, scss/_calc.scss */
.x13d18 {
  width: 72.22222%;
}

/* line 35, scss/_calc.scss */
.x17d18 {
  width: 94.44444%;
}

@media (max-width: 1600px) {
  /* line 18, scss/_calc.scss */
  .x1--1600 {
    width: 100%;
  }

  /* line 35, scss/_calc.scss */
  .x1d2--1600, .x2d4--1600, .x3d6--1600, .x6d12--1600 {
    width: 50%;
  }

  /* line 35, scss/_calc.scss */
  .x1d3--1600, .x2d6--1600, .x4d12--1600 {
    width: 33.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x2d3--1600, .x4d6--1600, .x8d12--1600 {
    width: 66.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x1d4--1600, .x3d12--1600 {
    width: 25%;
  }

  /* line 35, scss/_calc.scss */
  .x3d4--1600, .x9d12--1600 {
    width: 75%;
  }

  /* line 35, scss/_calc.scss */
  .x1d5--1600 {
    width: 20%;
  }

  /* line 35, scss/_calc.scss */
  .x2d5--1600 {
    width: 40%;
  }

  /* line 35, scss/_calc.scss */
  .x3d5--1600 {
    width: 60%;
  }

  /* line 35, scss/_calc.scss */
  .x4d5--1600 {
    width: 80%;
  }

  /* line 35, scss/_calc.scss */
  .x1d6--1600, .x2d12--1600 {
    width: 16.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x5d6--1600, .x10d12--1600 {
    width: 83.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x1d12--1600 {
    width: 8.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x5d12--1600 {
    width: 41.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x7d12--1600 {
    width: 58.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x11d12--1600 {
    width: 91.66667%;
  }
}
@media (max-width: 1050px) {
  /* line 18, scss/_calc.scss */
  .x1--t {
    width: 100%;
  }

  /* line 35, scss/_calc.scss */
  .x1d2--t, .x2d4--t, .x3d6--t, .x5d10--t {
    width: 50%;
  }

  /* line 35, scss/_calc.scss */
  .x1d3--t, .x2d6--t {
    width: 33.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x2d3--t, .x4d6--t {
    width: 66.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x1d4--t {
    width: 25%;
  }

  /* line 35, scss/_calc.scss */
  .x3d4--t {
    width: 75%;
  }

  /* line 35, scss/_calc.scss */
  .x1d5--t, .x2d10--t {
    width: 20%;
  }

  /* line 35, scss/_calc.scss */
  .x2d5--t, .x4d10--t {
    width: 40%;
  }

  /* line 35, scss/_calc.scss */
  .x3d5--t, .x6d10--t {
    width: 60%;
  }

  /* line 35, scss/_calc.scss */
  .x4d5--t, .x8d10--t {
    width: 80%;
  }

  /* line 35, scss/_calc.scss */
  .x1d6--t {
    width: 16.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x5d6--t {
    width: 83.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x1d7--t {
    width: 14.28571%;
  }

  /* line 35, scss/_calc.scss */
  .x2d7--t {
    width: 28.57143%;
  }

  /* line 35, scss/_calc.scss */
  .x3d7--t {
    width: 42.85714%;
  }

  /* line 35, scss/_calc.scss */
  .x4d7--t {
    width: 57.14286%;
  }

  /* line 35, scss/_calc.scss */
  .x5d7--t {
    width: 71.42857%;
  }

  /* line 35, scss/_calc.scss */
  .x6d7--t {
    width: 85.71429%;
  }

  /* line 35, scss/_calc.scss */
  .x1d10--t {
    width: 10%;
  }

  /* line 35, scss/_calc.scss */
  .x3d10--t {
    width: 30%;
  }

  /* line 35, scss/_calc.scss */
  .x7d10--t {
    width: 70%;
  }

  /* line 35, scss/_calc.scss */
  .x9d10--t {
    width: 90%;
  }
}
@media (max-width: 720px) {
  /* line 18, scss/_calc.scss */
  .x1--s {
    width: 100%;
  }

  /* line 35, scss/_calc.scss */
  .x1d2--s, .x2d4--s {
    width: 50%;
  }

  /* line 35, scss/_calc.scss */
  .x1d3--s {
    width: 33.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x2d3--s {
    width: 66.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x1d4--s {
    width: 25%;
  }

  /* line 35, scss/_calc.scss */
  .x3d4--s {
    width: 75%;
  }
}
@media (max-width: 550px) {
  /* line 18, scss/_calc.scss */
  .x1--m {
    width: 100%;
  }

  /* line 35, scss/_calc.scss */
  .x1d2--m {
    width: 50%;
  }

  /* line 35, scss/_calc.scss */
  .x1d3--m {
    width: 33.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x2d3--m {
    width: 66.66667%;
  }
}
@media (max-width: 450px) {
  /* line 18, scss/_calc.scss */
  .x1--ms {
    width: 100%;
  }

  /* line 35, scss/_calc.scss */
  .x1d2--ms, .x5d10--ms {
    width: 50%;
  }

  /* line 35, scss/_calc.scss */
  .x1d3--ms, .x3d9--ms {
    width: 33.33333%;
  }

  /* line 35, scss/_calc.scss */
  .x2d3--ms, .x6d9--ms {
    width: 66.66667%;
  }

  /* line 35, scss/_calc.scss */
  .x1d9--ms {
    width: 11.11111%;
  }

  /* line 35, scss/_calc.scss */
  .x2d9--ms {
    width: 22.22222%;
  }

  /* line 35, scss/_calc.scss */
  .x4d9--ms {
    width: 44.44444%;
  }

  /* line 35, scss/_calc.scss */
  .x5d9--ms {
    width: 55.55556%;
  }

  /* line 35, scss/_calc.scss */
  .x7d9--ms {
    width: 77.77778%;
  }

  /* line 35, scss/_calc.scss */
  .x8d9--ms {
    width: 88.88889%;
  }

  /* line 35, scss/_calc.scss */
  .x1d10--ms {
    width: 10%;
  }

  /* line 35, scss/_calc.scss */
  .x2d10--ms {
    width: 20%;
  }

  /* line 35, scss/_calc.scss */
  .x3d10--ms {
    width: 30%;
  }

  /* line 35, scss/_calc.scss */
  .x4d10--ms {
    width: 40%;
  }

  /* line 35, scss/_calc.scss */
  .x6d10--ms {
    width: 60%;
  }

  /* line 35, scss/_calc.scss */
  .x7d10--ms {
    width: 70%;
  }

  /* line 35, scss/_calc.scss */
  .x8d10--ms {
    width: 80%;
  }

  /* line 35, scss/_calc.scss */
  .x9d10--ms {
    width: 90%;
  }
}
