body{
    line-height:1;
    font-family: "Segoe UI";
}
.top-left{
    top: 5px;
    left:3px;
}
.top-right{
    top:5px;
    right: 3px;
}
.bot-left{
    top: 240px;
    left:3px;
}
.bot-right{
    top: 240px;
    right: 3px;
}
.skin-cancer-block .skin-cancer-bg{
    background: url("../images/landing-pages/skin-cancer-clinic/skin-cancer-bg.jpg") no-repeat 50% 0;
    color: #212121;
    padding-bottom: 62px;
    background-size: cover;
}
.skin-cancer-block .skin-cancer-bg .title-block{
    margin-top: 157px;
    margin-bottom: 75px;
}
.skin-cancer-block .skin-cancer-bg .title-block  .top-text{
    font-size: 42px;
    font-family: BebasNeueRegular;
    margin-bottom: 20px;
}
.skin-cancer-block .skin-cancer-bg .title-block .title{
    font-size: 108px;
    font-family: BebasNeueLight;
}
.skin-cancer-block .skin-cancer-bg .title-block .title>span{
    font-size: 118px;
    font-family: BebasNeueBold;
}
.skin-cancer-block .skin-cancer-bg .title-block .bottom-text{
    font-size: 16px;
    font-style: italic;
}
.skin-cancer-block .skin-cancer-bg .form-block{
    background: rgba(255,255,255,0.5);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}
.skin-cancer-block .skin-cancer-bg  .skin-cancer-proc{
    max-width: 460px;
}
.skin-cancer-block .skin-cancer-bg .form-block .forms{
    margin-bottom: inherit;
}
.skin-cancer-block .about-clever{
    background-color: #ff5722;
    padding: 20px 0;
    color: white;
}
.skin-cancer-block .about-clever .top-about{
    border-radius: 60px;
    background-color: white;
    padding: 23px 35px;
    color: #ff5722;
    position: relative;
    margin-bottom: 41px;
}
.skin-cancer-block .about-clever .top-about .orange-circle{
    background-color: #f57c00;
    height: 74px;
    width: 74px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 23px;
}
.skin-cancer-block .about-clever  .title-about-clever{
    font-size: 42px;
    font-family: BebasNeueBold;
}
.skin-cancer-block .about-clever .slogan{
    font-size: 18px;
    font-style: italic;
}
.skin-cancer-block .secondary-contact-form .form-cl-2{
    background: #fff;
    width: 506px;
    box-shadow: 0 1px 9.6px 0.4px rgba(0, 0, 0, 0.2);
    margin: 0 auto 134px;
}
.skin-cancer-block .secondary-contact-form .form-cl-2 form{
    margin: 20px 0 0;
}
.skin-cancer-block .secondary-contact-form .form-cl-2 .forms{
    margin-bottom: 0;
}
.skin-cancer-block .secondary-contact-form  .top-left-1{
    top: 5px;
    left:3px;
}
.skin-cancer-block .secondary-contact-form  .top-right-1{
    top:5px;
    right: 3px;
}
.skin-cancer-block .secondary-contact-form  .bot-left-1{
    top: 240px;
    right: 3px;
}
.skin-cancer-block .secondary-contact-form  .bot-right-1{
    top: 240px;
    left:3px;
}
.skin-cancer-block .important-factors-niche .title{
    font-size: 90px;
    font-family: "Segoe UI Bold";
    color: #ef6c00;
    letter-spacing: -1px;
}
.skin-cancer-block .important-factors-niche .content-block {
    background-color: #f57c00;
    border-top: 19px solid #ef6c00;
    border-bottom: 19px solid #ef6c00;
    margin-top: -8px;
}
.skin-cancer-block .important-factors-niche .content-block{
    background-color:#fb8c00;
    padding-top: 45px;
    padding-bottom: 11px;
    color: #fff;
    margin-bottom: 130px;
}
.skin-cancer-block .important-factors-niche .content-block .item{
    border-radius: 60px;
    background-color: white;
    color: #212121;
    padding: 11px 47px 29px 106px;
    position: relative;
    margin-bottom: 20px;
}
.skin-cancer-block .important-factors-niche .content-block .orange-circle{
    background-color: #f57c00;
    height:74px;
    width: 74px;
    border-radius: 100px;
    position: absolute;
    top:50%;
    margin-top: -37px;
    left: 12px;
}
.skin-cancer-block .why-us{
    padding: 53px 0 226px;
    margin-bottom: 235px;
    background-color: #f57c00;
    position: relative;
}
.skin-cancer-block .why-us .title-block{
    font-size: 72px;
    color: #f57c00;
    line-height: 1;
    font-weight: 700;
    font-family: "Segoe UI Bold";
    margin-bottom: 41px;
    position: relative;
    background: #fff;
    width: 460px;
    border-radius: 60px;
    letter-spacing:-1px;
    padding: 20px 23px 30px 123px;

}
.skin-cancer-block .why-us .orange-circle{
    background-color: #f57c00;
    height:74px;
    width: 74px;
    border-radius: 100px;
    position: absolute;
    top:50%;
    margin-top: -37px;
    left: 12px;
}
.skin-cancer-block .why-us .text-block p{
    position: relative;
    padding-left: 170px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px;
}
.skin-cancer-block .why-us .text-block{
    position: relative;
}
.skin-cancer-block .why-us .text-block hr{
    width: 4px;
    height: 730px;
    border-top: none;
    border-left: 4px solid #fff;
    position: absolute;
    left: 48px;
    top: -65px;
}
.skin-cancer-block .why-us .text-block .orange-circle{
    background: #fff;
    display: block;
}
.skin-cancer-block .fixed-secondary{
    position: absolute;
    bottom: -273px;
    left: 0;
    right:0;
}